    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

    html,body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration-color: #94a3b8;
        &:before{
        content:'';
        content: "";
        width: 100%;
        height: 100vh;
        left: 0;
        background: rgb(255,255,255);
        background: linear-gradient(128deg, rgba(255,255,255,1) 0%, rgba(231,248,255,1) 50%, rgba(255,255,255,1) 100%); 
        position: fixed;
        top: 0;
        z-index: -1;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }}

    .navbarbgc {
        background-color: #f85032; background-color: -webkit-linear-gradient(to right, #e73827, #f85032); background-color: linear-gradient(to right, #e73827, #f85032); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
    }

    sortbox:checked ~ #sortboxmenu {
        opacity: 1;
    }

    .btn-grad {
    background-image: linear-gradient(to right, #A1FFCE 0%, #FAFFD1  51%, #A1FFCE  100%);
    color: white;            
    box-shadow: 0 0 20px #eee;
    }

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

    .text-shadow{
    text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
    }

    .react-multi-carousel-list {
    & .arrow-btn{
        transition: width 300ms ease;
        width: 50px;
        &:hover{
        width: 60px;
        }}}

    a {
    color: inherit;
    text-decoration: none;
    }

    * {
    box-sizing: border-box;
    }

    .btn-grad {
        background-image: linear-gradient(to right, #AAFFA9 0%, #11FFBD  51%, #AAFFA9  100%);
        color: white;            
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
    }

    .drpdwn {
        position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate(352px, 84px); 
    }